@use "variables" as *;

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

button {
    color: $tertiary;
    background-color: $tertiary;
    font-size: 2rem;
    text-align: center;
    line-height: 3.2rem;
    letter-spacing: 0.1rem;
}

.findOutBtn, .readMore {
    color: $tertiary;
    background-color: $secondary;
    font-size: 2rem;
    text-align: center;
    line-height: 3.2rem;
    letter-spacing: 0.1rem;
    padding: 10px 20px;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

// button:hover,
// button:focus {
//     color: #0000DA;
//     border-right: 3px solid #0000DA;
//     border-bottom: 3px solid #0000DA;
// }

img {
    max-width: 100%;
}