@use "variables" as *;

// setting default background color specified in design doc
body {
    background-color: $quinary;
}

.wrapper {
    max-width: 1260px;
    width: 80%;
    margin: 0 auto;
}

button {
    color: $tertiary;
    background-color: $secondary;
    font-size: 2rem;
    text-align: center;
    line-height: 3.2rem;
    letter-spacing: 0.1rem;
}

.findOutBtn, .readMore {
    color: $tertiary;
    background-color: $secondary;
    font-size: 2rem;
    text-align: center;
    line-height: 3.2rem;
    letter-spacing: 0.1rem;
    padding: 10px 20px;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent; /* so the element doesn't move when hovered/focused */
}

// giving the teal buttons a hover/focus effect
.findOutBtn:hover,
.findOutBtn:focus,
.readMore:hover,
.readMore:focus {
    color: $quaternary;
    border-right: 3px solid $primary;
    border-bottom: 3px solid $primary;
    border-radius: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    border: none;
    border-bottom: 2px solid $secondary;
    background-color: $quaternary;
    padding: 10px 30px;
    margin-bottom: 40px;
}

textarea {
    border: 2px solid $secondary;
    background-color: $quaternary;
    resize: none;
    width: 100%;
    padding: 10px 30px;
}

// changing default focus color to match site palette and tweaking style
a:focus {
    outline-color: $secondary;
    outline-style: solid;
    outline-offset: 6px;
    outline-width: 2px;
    // box-shadow: 0 0 0 2px $secondary;
}

// continuation above, tweaked for form elements
input:focus,
textarea:focus {
    outline-color: $secondary;
    outline-style: solid;
    // outline-offset: 6px;
    outline-width: 2px;
}