@use "variables" as *;

    // header of the index page
.headerIndex {
    background-image: url(../captured-final-assets/header-image.jpg);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    background-color: $quinary;
    min-height: 100vh;
    z-index: 1;
}

    // header of the contact page
.headerContact {
    background-image: url(../captured-final-assets/contact-header.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 70vh;
}

    // header of the blog page
.headerBlog {
    background-image: url(../captured-final-assets/blog-header.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 70vh;
}

.headerContainerMain {
    width: 100%;
    position: relative;
    img {
        position: absolute;
        right: 0;
        margin-top: 130px;
        z-index: 0;
        max-width: 40%;
        border-top: 40px solid $primary;
        border-left: 40px solid $primary;
        border-bottom: 40px solid $primary;
    }

    h1 {
        text-align: center;
        position: absolute;
        width: 100%;
        margin-top: 340px;
        z-index: 2;
    }
}

.headerContainer
.headerContainerBlog,
.headerContainerContact {
    width: 100%;
    h1 {
        text-align: center;
        margin-top: 140px;
    }
}
