@use "variables" as *;

.navBar {
    .wrapper ul {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        li {
            padding: 0 10px;
            transition: .2s;
        }
    }
}

a:hover,
a:focus {
    border-bottom: 3px solid $secondary;
}