@use "variables" as *;

// *********** index.html ***********

// whatIs section

.mainFlex {
    text-align: center;
    margin: 150px 0px;
}

// article section, 2x2 grid, full-bleed so flex-basis set at 50%, no wrapper for this section
.articleGrid {
    display: flex;
    background-color: $quaternary;
}

.grid2x2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid2x2>div {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    flex-direction: column;
}

.grid2x2>div>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 80px;
}

.topBoxLeftJustify {
    text-align: left;
    margin-bottom: 0;
}

.btmBoxRightJustify {
    text-align: right;
    margin-bottom: 0;
}

.box1,
.box3 {
    padding-right: 40px;
    img {
        box-shadow: 40px 40px 0px 0px $primary;
    }
}

.box2,
.box4 { 
    align-self: center; // necessary?
    padding-left: 40px;
    img {
        box-shadow: -40px 40px 0px 0px $primary;
    }
}

// prevent READ MORE buttons from horizontally filling flex container
.readMore {
    width: fit-content;
}

// align button to right side
.readMoreTwo {
    align-self: flex-end;
}

// article list section
.articleListOne,
.articleListTwo {
    background-color: $quinary;
}

.articleListOne ul,
.articleListTwo ul {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    li {
        text-align: left;
        margin: 0 30px 0 20px;
        position: relative;
    }
}

    article h3 {
        display: inline-block;
}

// positioning and styling favicons
.fa-solid {
    background-color: $secondary;
    padding: 20px 7px;
    border-radius: 50%;
    border: 3px solid transparent; /* so the elements don't move when hovered/focused */
    transition: .3s ease;
    position: absolute;
    left: -65px;
    top: 20px;
}

// the following two require different padding due to their widths
.fa-users {
    padding: 22px 4px;
}

.fa-file {
    padding: 20px 10px;
}

// giving the teal buttons a hover/focus effect. This isn't working on focus, however. Problem for another day.
.fa-solid:hover,
.fa-solid:focus {
    color: $quaternary;
    border: 3px solid $primary;
    // border-bottom: 3px solid #0000DA;
    border-radius: 50%;
}



// profile section

.profile {
    margin-top: 100px;
}

.profileFlex {
    margin: 100px auto 100px auto;
    display: flex;
    img {
        align-self: center;
        box-shadow: 40px 40px 0px 0px $primary;
    }
}

.profileText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
    margin-top: -40px;
    a {
        align-self: flex-start;
    }
}

.btmImages {
    background-color: $quaternary;
    display: inline-block;
    width: 100%;
}

.btmImagesFlex {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    transition: 0.2s;
    a {
        margin: 0 10px 0 10px;
        &:hover,
        &:focus {
            border: none;
            transform: scale(0.5);
        }
    }
}



// *********** contact.html ***********

.bodyContact {
    background-color: $quinary;
}

.contactLeft {
    margin-top: 40px;
    margin-bottom: 150px;
    flex-basis: 40%;
    .favicons {
        display: flex;
        justify-content: space-between;
        padding-right: 60%;
        border: none;
        a {
            transition: 0.3s;
            &:hover,
            &:focus {
            border: none;
            color: $secondary;
            }
        } 
    }
}

.contactInfoBox a {
    line-height: 2.2rem;
    &a:hover,
    &a:focus {
        border-bottom: 3px solid $secondary;
    }
    h4 {
        display: inline-block;
        :hover,
        :focus {
            border-bottom: 3px solid $secondary;
        }
    }
}

.contactInfoBox {
    max-width: 79%;
} 

.contactInfoBox > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.address p {
    margin: 3px 0;
}

// positioning contact form up into banner image
.contactRight {
    flex-basis: 60%;
    top: -160px;
    position: relative;
    div {
        position: absolute;
    }
}


.contactFormBox {
    background-color: $quaternary;
    box-shadow: -40px 40px 0px 0px $primary;
    padding: 40px;
    display: flex;
    flex-direction: column;
    button {
        width: 100%;
    }
}




// *********** blog.html ***********
.headerBlog {
    margin-bottom: 5%;
}

.headerContainerBlog {
    width: 100%;
    position: relative;
    img {
        position: absolute;
        right: 0;
        z-index: 0;
        max-width: 58%;
        box-shadow: -4rem 4rem 0px 0px $primary;
    }
}

.twoColumnContainer {
    display: flex;
    flex-direction: row;
}

.blogLeftSide {
    margin-top: 0;
    flex-basis: 33%;
    position: relative;
    div {
        position: sticky;
        top: 36%;
    }

    h4 {
        max-width: 91%;
    }

    p {
        max-width: 81%;
    }

    ul li {
        max-width: 85%;
        font-family: $bodyFont;
        font-style: normal;
        font-weight: normal;
        text-transform: none;
        list-style-type: disc;
        text-align: left;
        margin-left: 22px;
        padding-left: 8px;
        &::marker {
        color: $secondary;
        // font-size: 1rem; // this makes the discs the right size, but then they are not vertically centered to the text. A problem for another day.
        }
    }
}

span a {
    font-style: italic;
    font-weight: bold;
}

aside div {
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 10px;
    background-color: $quaternary;
}

// positioning small image on left sidebar
// note: this is incorrect, but if I do this "properly" and create a div for this element to live inside with the property "position: relative", this element will not "stick"... problem for another day.
.blogImageBox {
    position: sticky;
    top: 0%;
    max-width: 36%;
}

.blogRightSide {
    margin-left: 8%;
    flex-basis: 60%;
}

.blogPost {
    display: flex;
    flex-direction: column;
}

.comment {
    margin-left: 120px;
    position: relative;
    margin-bottom: 100px;
    img {
        position: absolute;
        left: -120px;
        top: 20px;
    }
}

.commentBox {
    background-color: $quinary;
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    input,
    textarea {
        background-color: $quinary;
    }
    button {
        width: 100%;
        padding: 8px 0px;
    }
}

