@use "variables" as *;

// *********** index.html ***********

// whatIs section

.mainFlex {
    text-align: center;
    margin: 150px 0px;
}

// article section, 2x2 grid, full-bleed so flex-basis set at 50%, no wrapper for this section
.articleGrid {
    display: flex;
    background-color: $quaternary;
}

.grid2x2 {
    // min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid2x2>div {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    flex-direction: column;
}

.grid2x2>div>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 80px;
}

.topBoxLeftJustify {
    text-align: left;
    margin-bottom: 0;
}

.btmBoxRightJustify {
    text-align: right;
    margin-bottom: 0;
}

.box {
    width: 50%;
}

.box1,
.box3 {
    align-self: center;
    padding-right: 40px;
    img {
        height: 100%;
        box-shadow: 40px 40px 0px 0px $primary;
    }
}

.box2,
.box4 { 
    align-self: center;
    padding-left: 40px;
    img {
        height: 100%;
        box-shadow: -40px 40px 0px 0px $primary;
    }
}

// prevent READ MORE buttons from horizontally filling flex container
.readMore {
    width: fit-content;
}

.readMoreTwo {
    align-self: flex-end;
}

// article list section
.articleListOne,
.articleListTwo {
    background-color: $quinary;
}

.articleListOne ul,
.articleListTwo ul {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    li {
        text-align: left;
        margin: 0 50px 0 50px;
        position: relative;
    }
}

    article h3 {
        display: inline-block;
}

// positioning and styling favicons
.fa-solid {
    background-color: $secondary;
    padding: 20px 7px;
    border-radius: 50%;
    border: 3px solid transparent; /* so the elements don't move when hovered/focused */
    transition: .3s ease;
    position: absolute;
    left: -65px;
    top: 20px;
}

// the following two require different padding due to their widths
.fa-users {
    padding: 22px 4px;
}

.fa-file {
    padding: 20px 10px;
}

// giving the teal buttons a hover/focus effect
.fa-solid:hover,
.fa-solid:focus {
    color: $quaternary;
    border: 3px solid $primary;
    // border-bottom: 3px solid #0000DA;
    border-radius: 50%;
}

// profile section

.profile {
    margin-top: 100px;
}

.profileFlex {
    margin: 100px auto 100px auto;
    display: flex;
    img {
        box-shadow: 40px 40px 0px 0px $primary;
    }
}

.profileText {
    margin-left: 80px;
    margin-top: -40px;
}



// *********** contact.html ***********

.bodyContact {
    background-color: $quinary;
}

.contactContainer {
    display: flex;
}

.contactFormBox {
    background-color: $quaternary;
    box-shadow: -40px 40px 0px 0px $primary;
    margin-left: 15%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    button {
        width: 100%;
    }
}




// *********** blog.html ***********
.headerBlog {
    margin-bottom: 29%;
}

.headerContainerBlog {
    width: 100%;
    position: relative;
    img {
        position: absolute;
        right: 0;
        z-index: 0;
        max-width: 66%;
        box-shadow: -4em 4em 0px 0px $primary;
    }
}
.twoColumnContainer {
    display: flex;
    flex-direction: row;
}

.blogLeftSide {
    margin-top: 34%;
    border: lightcoral 1px solid;
    flex-basis: 30%;
    ul li {
        font-family: $bodyFont;
        font-style: normal;
        text-transform: none;
        list-style-type: disc;
        text-align: left;
        margin-left: 22px;
        padding-left: 8px;
        &::marker {
        color: $secondary;
        }
    }
}

span a {
    font-style: italic;
    font-weight: bold;
}

aside div {
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 5px;
    background-color: $quaternary;
}

// positioning small image on left sidebar
.blogImageBox {
    position: relative;
    img {
        position: absolute;
        max-width: 34%;
    }
}

.blogRightSide {
    margin-left: 5%;
    border: royalblue 1px solid;
    flex-basis: 65%;
}

.blogPost {
    display: flex;
    flex-direction: column;
}

.commentOne,
.commentTwo {
    position: relative;
    img {
        position: absolute;
        left: -65px;
        top: 20px;
    }
}