// site fonts
$headingFont: "Playfair Display", serif;
$bodyFont: "Roboto", sans-serif;

// site colors
$primary: #FDFA69;
$secondary: #4CEEA7;
$tertiary: #2C2C2C; /* button text color ? */
$quaternary: #FAFAFA;
$quinary: #EFFDE3;
